<div class="bubble creation" style="left: {{ posX }}px; top: {{ posY }}px; width: 0px; height: 0px; line-height: 0px;">
  <a href="javascript:;" data-text="{{ text }}" data-score="{{ score }}" data-time="{{ time }}" class="js_bubble bubble-wrapper" style="top: {{ relativePosY }}px; left: {{ relativePosX }}px;">
    <span class="bubble-text bubble-text-{{ color }}">{{ text }}</span>
    <span class="bubble-image bubble-image-{{ color }}"></span>
  </a>
</div>
