<span class="bubble" style="left: {{ posX }}px; top: {{ posY }}px; width: {{ diameter }}px; height: {{ diameter }}px;">
  <a href="javascript:;" data-score="{{ score }}" data-time="{{ time }}" class="js_bubble" style="line-height: {{ diameter }}px;">{{ text }}</a>
</span>
