<div class="bubble-fragment">
  {{#each fragments}}
  <img src="../image/bubble-{{ ../color }}-small.png" data-diameter="{{ diameter }}" style="width: {{ diameter }}px; height: {{ diameter }}px; top: {{ posY }}px; left: {{ posX }}px;" />
  {{/each}}
</div>
